{% extends cms_backend_template %}

{% if cms_content_form_theme is not empty %}
    {% form_theme cmsContentForm cms_content_form_theme %}
{% endif %}

{% block title %}{{ parent() }} :: {{ 'rocket.cms.type.title.new'|trans }}{% endblock %}

{% block content %}
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon edit"></i><span class="break"></span>{{ 'rocket.cms.type.title.new'|trans }}</h2>
        </div>
        <div class="box-content">
            <form action="{{ path('rocket_cms_cmstype_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }} novalidate>
                {{ form_widget(form) }}

                <div class="form-actions">
                    <div class="btn-overlay">
                        <a class="btn" href="{{ path('rocket_cms_cmstype_index') }}">{{ 'rocket.cms.global.back'|trans }}</a>
                    </div>

                    <button type="submit" class="btn btn-success">{{ 'rocket.cms.global.create'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</ul>
{% endblock %}
